.recipe-row {
	/* border: solid */
}

.recipe-subtitles {
	font-weight: bold;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recipe-options{
	border: 1px solid black;
	border-radius: 2px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.ingredient{
	/* border-style: solid; */
	border-radius: 15px;
	margin: 10px;
	font-size: 25px;
	width: 325px;
	text-align: left;
	background-color: rgb(255, 255, 255);
	/* height: 85px;
	width: auto; */
	/* align-items: center; */
}

.steps{
	/* border-style: solid; */
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	margin: 10px;
	font-size: 15px;
	width: 325px;
	text-align: left;
	background-color: rgb(255, 255, 255);
}
