.recipe-row {
	/* border: solid */
	text-align: center;
}

.recipe-subtitles {
	font-weight: bold;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* padding-top: 5px; */
	/* padding-bottom: 20px; */
}

.truncate-url {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* new recipe */

.recipe-name{
	text-align: center;
	font-size: 35px;
	font-weight: 700;
}

.title{
	margin-left: 20px;
	font-size: 35px;
	font-weight: 700;
	padding-left: 20%;
	padding-top: 5%;
}

.title-sum{
	/* margin-left: 20px; */
	font-size: 35px;
	font-weight: 750;
	text-align: center;
}

.recipe-book-subtitles{
	padding-top: 2%;
}

.recipe-options-img{
	/* border: 1px solid black; */
	border-radius: 20px;
	/* padding-top: 10px; */
	width: 350px;
	height: 100px;
	/* margin-top: 10px; */
	margin-left: auto;
	margin-right: auto;
	display: block;
	object-fit: cover;
	/* align-items: center; */
}

.recipe-options-but{
	/* border: 1px solid black; */
	border-radius: 15px;
	/* text-align: center; */
	/* padding-top: 10px; */
	width: 350px;
	height: 175px;
	/* margin: 0; */
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	object-fit: cover;
}

#add-ingredient,
.ingredient{
	/* border-style: solid; */
	border-radius: 15px;
	margin: 10px;
	font-size: 25px;
	text-align: left;
	background-color: rgb(255, 255, 255);
	/* height: 85px;
	width: auto; */
	/* align-items: center; */
}

.ingredient{
	width: 95%
}

#add-ingredient {
	width: 325px;
}

.steps{
	/* border-style: solid; */
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	margin: 10px;
	font-size: 20px;
	width: 80%;
	text-align: left;
	background-color: rgb(255, 255, 255);
}


.arrows{
	max-width: 150%;
    max-height: 150%;
}

#arrow-div {
	opacity: 30%;
	padding-right: 5%;
	vertical-align: middle;
}

.confirm-but{
	width: 350px;
	font-size: 30px;
	margin: 10px;
	padding: 5px;
	margin-bottom: 20px;
}

.new-ingredient-form{
	text-align: center;
}

.new-ingredient-input{
	border-radius: 15px;
	/* margin: 10px; */
	/* font-size: 25px; */
	/* width: 325px; */
	/* text-align: left; */
	width: 100%;
	background-color: rgb(255, 255, 255);
}

#new-ingredient-row {
	margin: 15px;
	font-size: 25px;
	text-align: left;
	border: none;
	/* padding:2px;
	padding-left:14px; */
}

input{
	padding: 3px;
}

.sub-butt{
	border-radius: 15px;
	font-size: 25px;
}

.step-butt{
	width: 40px;
	border-radius: 20px;
	text-align: center;
	font-weight: 700px;
	font-size: 20px;
	margin-left: 45%;
}